.DS_Store

.config/coc/*
!.config/coc/extensions
.config/coc/extensions/*
!.config/coc/extensions/*.json

.config/nvim/.netrwhist
.config/nvim/autoload/plug.vim.old
.config/nvim/blackvenv/
.config/nvim/plugged/
.config/nvim/spell/
.config/nvim/undodir/

.config/tmuxinator/rise*

.tmux/plugins
.tmux/resurrect


